@model MovieTicketBooking.Models.Film

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h2>Film</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zanr" class="control-label"></label>
                <input asp-for="Zanr" class="form-control" />
                <span asp-validation-for="Zanr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vremetraenje" class="control-label"></label>
                <input asp-for="Vremetraenje" class="form-control" />
                <span asp-validation-for="Vremetraenje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jazik" class="control-label"></label>
                <input asp-for="Jazik" class="form-control" />
                <span asp-validation-for="Jazik" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumNaIzdavanje" class="control-label"></label>
                <input asp-for="DatumNaIzdavanje" class="form-control" />
                <span asp-validation-for="DatumNaIzdavanje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reziser" class="control-label"></label>
                <input asp-for="Reziser" class="form-control" />
                <span asp-validation-for="Reziser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Glumci" class="control-label"></label>
                <input asp-for="Glumci" class="form-control" />
                <span asp-validation-for="Glumci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
