@model MovieTicketBooking.Models.SedisteZaProekcija

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SedisteZaProekcija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdSediste" class="control-label"></label>
                <input asp-for="IdSediste" class="form-control" />
                <span asp-validation-for="IdSediste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProekcija" class="control-label"></label>
                <select asp-for="IdProekcija" class ="form-control" asp-items="ViewBag.IdProekcija"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdRezervacija" class="control-label"></label>
                <select asp-for="IdRezervacija" class ="form-control" asp-items="ViewBag.IdRezervacija"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
